/* ------> SEÇÃO 2 <----- */

.container-main {
    width: 100%;
}

#home {
    display: flex;
    min-height: calc(800px + 98.79px);
    position: relative; 
    background-size: cover;
    gap: 71px;
    
} 

#home .bg-home {
    position: absolute;
    width: 100%;
    z-index: 0;
    margin-top: -8px;
    margin-left: -5px;
}

#mockup {
    display: flex;
    max-width: 417px;  
    align-items: end;
    position: relative;
    z-index: 2;
    margin-left: 255px;
}

#cta {
    display: flex;
    align-items: left;
    justify-content: start;
    text-align: left;
    max-width: 751px;
    z-index: 2;
    flex-direction: column;
    margin-top: calc(98.79px + 213px);
}

#cta .title {
    font-size: 74px;
    color: #FFFFFF;
    font-weight: bold;
}

#cta a {
    font-size: 22px;
    padding: 15px 10px;
    background-color: #3574B1;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

#teste {
    margin-top: 60px;

}
